#!/usr/bin/make -f

# declare path to kernel headers
IMX_KERNEL_HEADERS = $(shell find /usr/include -maxdepth 1 -iname "kernel-*imx*" -type d | sort | tail -1)

DESTDIR=$(CURDIR)/debian/tmp

%:
	dh $@

override_dh_auto_clean:
	rm -rf build-*
	rm -rf .waf*
	rm -rf .lock*

override_dh_auto_configure:
	./waf configure --prefix=/usr --libdir=/usr/lib/$(DEB_BUILD_MULTIARCH) \
		--imx-linux-headers-path=$(IMX_KERNEL_HEADERS) \
		--with-dwl-allocator=yes --hantro-decoder-version=G2 --hantro-headers-path=/usr/include/hantro_dec \
		--with-g2d-allocator=auto \
		--with-ion-allocator=yes \
		--with-ipu-allocator=yes \
		--with-pxp-allocator=yes

override_dh_auto_build:
	./waf build

override_dh_auto_install:
	./waf install --destdir=$(DESTDIR)
